extends ./layout/base.pug
block content 

    main
        div(class="contenedor")
            p(class="title")= `Bienvenido ${username} a `
                span Netflix
        div(class="contenedor-peliculas")
            h2(class="h2-peliculas") PELICULAS y SERIES
            ul(class="ul-peliculas")
                each pelicula in data
                    li(class="li-peliculas")
                        img(class="foto-peliculas", src=pelicula.urlImg, alt="")
                        p(class="p-peliculas")= pelicula.title
                        p(class="p-duration")= pelicula.duration
        div(class="contenedor-peliculas")