<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
    <title>Netflix | Inicio</title>
</head>

<body>
    <%- include('partials/nav') %>
    <main>
        <div class="contenedor">
            <p class="title"><span><%=pelicula%></span> fue agregada con exito!</p>
        </div>
    </main>
</body>

</html>