<nav class="navbar navbar-expand-lg navbar-dark bg-me">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img class="img-logo"
                src="https://logodownload.org/wp-content/uploads/2014/10/netflix-logo-5.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/ejs">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/ejs/buscar?categoria=peliculas">Peliculas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/ejs/buscar?categoria=series">Series</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/ejs/add">Agregar</a>
                </li>
            </ul>
        </div>
    </div>
</nav>