extends ./layout/baseLogin.pug
block content 

    main(class="main-login")
        div(class="contenedor-login")
            h2(class="h2-login") Iniciar sesión
            form(action="/login", method="post")
                div(class="form-group")
                    label(for="email") Email
                    input(type="user" class="form-control" id="email" name="email" placeholder="Ingrese su Email" required)
                div(class="form-group")
                    label(for="password") Contraseña
                    input(type="password" class="form-control" id="password" name="password" placeholder="Contraseña" required)
                div(class="form-group")
                    button(type="submit" class="btn btn-primary btn-block" id="btn-login") Iniciar sesión
                div(class="form-group a-login")
                    a(href="/signup" class="a-login") ¿No tienes una cuenta?
